<link
  rel="stylesheet"
  href="/newAssets/plugins/ekko-lightbox/ekko-lightbox.css"
/>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Gallery</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Gallery</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <h4 class="card-title">FilterizR Gallery with Ekko Lightbox</h4>
          </div>
          <div class="card-body">
            <div>
              <div class="btn-group w-100 mb-2">
                <a
                  class="btn btn-info active"
                  href="javascript:void(0)"
                  data-filter="all"
                >
                  All items
                </a>
                <a
                  class="btn btn-info"
                  href="javascript:void(0)"
                  data-filter="1"
                >
                  Category 1 (WHITE)
                </a>
                <a
                  class="btn btn-info"
                  href="javascript:void(0)"
                  data-filter="2"
                >
                  Category 2 (BLACK)
                </a>
                <a
                  class="btn btn-info"
                  href="javascript:void(0)"
                  data-filter="3"
                >
                  Category 3 (COLORED)
                </a>
                <a
                  class="btn btn-info"
                  href="javascript:void(0)"
                  data-filter="4"
                >
                  Category 4 (COLORED, BLACK)
                </a>
              </div>
              <div class="mb-2">
                <a
                  class="btn btn-secondary"
                  href="javascript:void(0)"
                  data-shuffle
                >
                  Shuffle items
                </a>
                <div class="float-right">
                  <select
                    class="custom-select"
                    style="width: auto"
                    data-sortOrder
                  >
                    <option value="index">Sort by Position</option>
                    <option value="sortData">Sort by Custom Data</option>
                  </select>
                  <div class="btn-group">
                    <a
                      class="btn btn-default"
                      href="javascript:void(0)"
                      data-sortAsc
                    >
                      Ascending
                    </a>
                    <a
                      class="btn btn-default"
                      href="javascript:void(0)"
                      data-sortDesc
                    >
                      Descending
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="filter-container p-0 row">
                <% if(leadImages.length > 0){ %> <%
                leadImages.forEach(function(image){ %>
                <div
                  class="filtr-item col-sm-2"
                  data-category="<%= image.lead_image[0].filename %>"
                  data-sort="black sample"
                >
                  <a
                    href="/images/leadImages/<%= image.lead_image[0].filename %>"
                    data-toggle="lightbox"
                    data-title="sample 2 - black"
                  >
                    <img
                      src="/images/leadImages/<%= image.lead_image[0].filename %>"
                      class="img-fluid mb-2"
                      alt="black sample"
                    />
                  </a>
                </div>
                <% })%><%} else {%> No Images Found<%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<script src="/newAssets/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
<!-- Filterizr-->
<script src="/newAssets/plugins/filterizr/jquery.filterizr.min.js"></script>
<script>
  $(document).ready(function () {
    $(document).on("click", '[data-toggle="lightbox"]', function (event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
    $(".filter-container").filterizr({ gutterPixels: 3 });
    $(".btn[data-filter]").on("click", function () {
      $(".btn[data-filter]").removeClass("active");
      $(this).addClass("active");
    });
  });
</script>
