<html>
  <body>
    <h1><%=content.subject%></h1>
    <p>Hello Admin,</p>
    <br />
    <p>You've receive an email for below description:</p>
    <br />
    <br />
    <p><%=content.message%></p>
    <br />
  </body>
</html>
