<html>
  <body>
    <h1>Reset your password</h1>
    <p>Hello <%=content.name%>,</p>
    <br />
    <p>
      Reset your password by clicking on the button below:
      <a href="<%= content.message %>" class="btn btn-sm btn-success"
        >Reset Password</a
      >
    </p>
    <br />
    <p>Thank you,</p>
    <p>Team <%=content.team%></p>
    <span>For any query, Please reach out to us!!</span>
  </body>
</html>
